@use '../presets' as *;
@use '../mixins' as *;

/* Navbar */
.navbar {
  @include lg-min() {
    margin-bottom: 141px;
  }
  @include lg-sm {
    margin-bottom: 70px;
  }
  @include sm() {
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    margin-left: -0.75em;

    column-gap: 27px;

    @include sm() {
      justify-content: center;
    }
  }

  &__link {
    display: block;

    padding: 0.5em 0.75em;

    letter-spacing: $letter-spacing;
    text-transform: uppercase;

    &--active {
      color: $color-primary;

      font-weight: 500;
    }
  }
}
