@use 'common';

@use 'components';

@media (width < 992px) {
  .header {
    padding-bottom: 80px;
  }
  .navbar {
    margin-bottom: 70px;
  }
  .experience__container {
    justify-content: space-evenly;
  }
}

@media (width < 576px) {
  .navbar {
    margin-bottom: 50px;
  }
  .navbar__list {
    justify-content: center;
  }
  .hero {
    text-align: center;
    align-items: center;
  }
  .section {
    padding-top: 70px;
    padding-bottom: 50px;
  }
}
